<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>overdone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>overdoneWatch (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>overdoneWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>overdoneWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>twodo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>773A0A9B251C436700C05ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773A0AB1251C436900C05ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773A0ABC251C436900C05ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77892FB0256B55BD009273FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D1C372256B2B5C00647B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D1C388256B2B5F00647B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D1C393256B2B5F00647B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D1C3AB256B2BE800647B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
